<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Thymeleaf Form handling Demo</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body class="container">
<h1 class="py-5">Cadastrar Cliente</h1>
<form class="row g-3" method="post" th:action="@{/cliente/}" th:object="${clienteNewDTO}">
  <div class="col-md-6">
    <label for="nome" class="form-label">Nome</label>
    <input class="form-control" id="nome"  required th:field="*{nome}" type="text"/>
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">E-mail</label>
    <input class="form-control" id="email" placeholder="email" aria-l required th:field="*{email}" type="text"/>
  </div>
  <div class="col-md-6">
    <label for="Documento" class="form-label">Documento</label>
    <input class="form-control" id="documento" placeholder="cpf ou cnpj" required th:field="*{cpfOuCnpj}" type="text"/>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-3">
    <label for="telefone1" class="form-label">Telefone Principal</label>
    <input class="form-control" id="telefone1" placeholder="telefone" required th:field="*{telefone1}" type="text"/>
  </div>
  <div class="col-md-3">
    <label for="telefone2" class="form-label">Telefone (Opcional)</label>
    <input class="form-control" id="telefone2" placeholder="telefone" th:field="*{telefone2}" type="text"/>
  </div>
  <div class="col-md-3">
    <label for="telefone3" class="form-label">Telefone (Opcional)</label>
    <input class="form-control" id="telefone3" placeholder="telefone" th:field="*{telefone3}" type="text"/>
  </div>
  <div class="col-md-6">
    <label for="logradouro" class="form-label">Endereço</label>
    <input class="form-control" id="logradouro" placeholder="logradouro" required th:field="*{logradouro}" type="text"/>
  </div>
  <div class="col-md-2">
    <label for="numero" class="form-label">Número</label>
    <input class="form-control" id="numero" placeholder="numero" required th:field="*{numero}" type="text"/>
  </div>
  <div class="col-md-4">
    <label for="complemento" class="form-label">Complemento</label>
    <input class="form-control" id="complemento" placeholder="complemento" th:field="*{complemento}" type="text"/>
  </div>
  <div class="col-md-4">
    <label for="bairro" class="form-label">Bairro</label>
    <input class="form-control" id="bairro" placeholder="bairro" required th:field="*{bairro}" type="text"/>
  </div>
  <div class="col-md-2">
    <label for="cep" class="form-label">CEP</label>
    <input class="form-control" id="cep" placeholder="cep" required th:field="*{cep}" type="text"/>
  </div>
  <div class="col-md-4">
    <label for="cidade" class="form-label">Cidade</label>
    <select class="form-control" id="cidade" th:field="*{cidadeId}" required>
      <option hidden value="">Selecione a cidade</option>
      <option
              th:each="cidade : ${cidades}"
              th:text="${cidade.nome}"
              th:value="${cidade.id}"
      >
      </option>
    </select>
  </div>
  <br>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
<br>
<table class="table table-striped table-bordered">
  <tr>
    <th>Nome</th>
    <th>Email</th>
  </tr>
  <tr th:if="${#lists.isEmpty(clientes)}">
    <td colspan="5">No Records found. Add some...!</td>
  </tr>
  <tr th:each="cliente : ${clientes}">
    <td th:text="${cliente.nome}"></td>
    <td th:text="${cliente.email}"></td>
  </tr>
</table>
</body>
</html>